<mat-card class="mat-elevation-z8">
  <mat-toolbar color="primary" id="peso-fonte" class="montserrat"
    >BLOCOS
    <button class="monserrat" mat-button (click)="onAdd()">
      <span id="peso-fonte-plus">+</span>
    </button>
  </mat-toolbar>
  <div class="toolbar-regionais">
    <mat-grid-list cols="5">
      <mat-grid-tile *ngFor="let regional of regionais">
        <button mat-button class="montserrat" (click)="forByRegional(regional)">
          {{ regional }}
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div>
    <mat-grid-list cols="5">
      <mat-grid-tile [colspan]="1">
        <button mat-button class="montserrat" (click)="load()">GERAL</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <span class="montserrat"
          >REGIONAL: <span id="red">{{ regional }}</span></span
        >
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <span class="montserrat"
          >Nº DE REGISTROS: <span id="red">{{ contador }}</span></span
        >
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="pesquisar">
    <mat-form-field>
      <mat-label>Buscar bloco pelo nome...</mat-label>
      <input
        matInput
        type="text"
        id="myTable"
        class="form-control"
        [formControl]="queryField"
      />
      <button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSearch()">Pesquisar</button>
    <button mat-raised-button color="primary" (click)="load()">Limpar</button>
  </div>

  <div *ngIf="contador > 0">
    <div class="container">
      <div *ngFor="let bloco of blocosFire$ | async as Blocos">
        <div class="link">
          <div>
            <a class="montserrat" href="{{ bloco.linkMyMaps }}" target="_blank">
              {{ bloco.nome }}
            </a>
            <span id="regional" class="montserrat"> - ({{ bloco.regional }})</span>
          </div>
          <div>
            <button class="button-details" (click)="findOne(bloco.key)">
              <span style="font-size: 20px" class="material-symbols-outlined">
                theater_comedy
              </span>
            </button>
            <button class="button-details" (click)="onEdit(bloco.key)">
              <span style="font-size: 20px" class="material-symbols-outlined">
                edit
              </span>
            </button>
            <button class="button-details" (click)="onDelete(bloco.key)">
              <span style="font-size: 20px" class="material-symbols-outlined">
                delete
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
