<mat-card class="mat-elevation-z8">
  <mat-toolbar color="primary" id="peso-fonte">
    <span>CARNAVAL 2023 - Datas dos Desfiles</span>
  </mat-toolbar>
  <div class="toolbar-regionais">
    <mat-grid-list cols="4" rowHeight="5:2">
      <mat-grid-tile *ngFor="let data of datas">
        <button mat-button (click)="forDate(data)">
          {{ data }}
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" style="background-color: white">
        <button
          mat-raised-button
          color="primary"
          (click)="goBack()"
          id="voltar"
        >
          Cancelar
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>
